
* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main {
    padding: 2rem;
    background-color: black;
}
.row{
    flex-direction: column;
}
/* navbar and footer styling */
.navbar-brand{
    padding-left: 2rem;
    color:white;
    font-size: 1.75rem;
    position: relative;
    top: 1.5rem;
    font-size: 2.5rem;
}
.navbar .container-fluid{
    text-align: center;
}

header, footer{
    background-color: black;
}

footer p, footer p a, .hamburger-menu i, .col{
    color: white;
    text-decoration: none;
}
.hamburger-menu{
    padding: 1.5rem;
    font-size: 2rem;
}
.material-icons{
    display: none;
}
.container{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* main body styling */
#music {
    font-size: 2rem;
    font-weight: 300;
}

#card-row {
    padding-top: 2rem;
}

.card-title {
    font-size: 1.25rem;
    font-style: italic;
}

/* music page styling */
.like-icon, .duet-icon{
    display: inline;
}
a{
    text-decoration: none;
}
.card-title, .card-text{
    color: black;
}

.about {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.about h1, .about > p {
    text-align: center;
    padding-top: 2rem;
}

.about > p:nth-child(2) {
    font-style: italic;
}

.about > p:nth-child(3), .about > p:nth-child(5) {
    padding: none;
    margin: none;
    font-size: 12px;
    font-style: italic;
}

#card-row.row {
    display: flex;
    justify-content: center;
}

@media(min-width: 768px){
    .row{
        flex-direction: row;
    }
    /* navbar and footer styling - big screen */
    .hamburger-menu{
        display: none;
    }
    header, footer{
        background-color: #FAF9F6;
    }
    .navbar-brand, .nav-link{
        top: 0;
        color: black;
    }
    footer p a, footer p{
        color: black;
        text-decoration: none;
    }
    form{
        width: 100%;
    }
    .navbar-nav{
        margin-left: auto;
    }
    .nav-item, img{
        padding: 1.5rem;
    }
    .search-label{
        opacity: 0;
    }
    .material-icons{
        position: relative;
        top: 5px;
        right: 8px;
        display: inline;
        padding-left: .4rem;
    }
    /* music page styling - big screen */
    .img-size{
        max-width: 40rem;
        border-radius: 8px;
        border: 1px solid #ddd;
    }
    .likes, .release-date, .description, .duets, .duration, .lg{
        font-size: 1.5rem;
    }

    .about > p {
        font-size: 1.25rem;
    }

    .about > p:nth-child(3), .about > p:nth-child(5){
        font-size: 16px;
    }
}
audio{
    width: 50rem;
}