* {
    box-sizing: border-box;
 }
  
 body, html {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
 }
  
 main {
    display: flex;
    padding: 2rem;
    background-color: black;
 }
  
 .col {
    display: flex;
    flex-grow: 1;
    padding-bottom: 2rem;
 }
  
 .row {
    flex-direction: column;
 }
  
 /* navbar and footer styling */
 .navbar-brand {
    padding-left: 2rem;
    color:white;
    font-size: 1.75rem;
    position: relative;
    top: 1.5rem;
    font-size: 2.5rem;
 }
  
 .navbar-dark a.navbar-brand, .navbar-dark .navbar-nav a.nav-link {
    color: black;
 }
  
 .navbar .container-fluid {
    text-align: center;
 }
  
 header, footer {
    background-color: black;
 }
  
 footer p, footer p a, .hamburger-menu i, .col {
    color: white;
    text-decoration: none;
 }
  
 .container-fluid {
    padding-left: 0;
    padding-right: 0;
 }
  
 .hamburger-menu {
    padding: 1.5rem;
    font-size: 2rem;
 }
  
 .material-icons {
    display: none;
 }
  
 .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
 }
  
 /* main body styling */
 #music {
    font-size: 2rem;
    font-weight: 300;
 }
  
 #card-row {
    padding-top: 0rem;
 }
  
 .card-title {
    font-size: 1.25rem;
    font-style: italic;
 }
  
 /* music page styling */
 .like-icon, .duet-icon {
    display: inline;
 }
  
 a {
    text-decoration: none;
 }
  
 .card-title, .card-text {
    color: black;
 }
  
 .about {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
 }
  
 .about h1, .about > p {
    text-align: center;
    padding-top: 2rem;
 }
  
 .about > p:nth-child(2) {
    font-style: italic;
 }
  
 .about > p:nth-child(3), .about > p:nth-child(5) {
    padding: none;
    margin: none;
    font-size: 12px;
    font-style: italic;
 }
  
 #card-row.row {
    display: flex;
    justify-content: center;
 }
  
 @media(min-width: 300px) {
    .row {
        flex-direction: row;
    }
  
    /* navbar and footer styling - big screen */
    .hamburger-menu {
        display: none;
    }
  
    .card {
        display: flex;
        flex-wrap: nowrap;
        width: 250px;
        height: 500px;
    }
  
    .card-body {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
    }
  
    header, footer {
        background-color: #FAF9F6;
    }
  
    .navbar-brand, .nav-link {
        top: 0;
        color: black;
    }
  
    footer p, footer p a {
        color: black;
        text-decoration: none;
    }
  
    form {
        width: 100%;
    }
  
    .navbar-nav {
        margin-left: auto;
    }
  
    .nav-item, img {
        padding: 0rem;
    }
  
    .search-label {
        opacity: 0;
    }
  
    .material-icons {
        position: relative;
        top: 5px;
        right: 8px;
        display: inline;
        padding-left: .4rem;
    }
    /* music page styling - big screen */
    .card-img-top {
        display: flex;
        max-width: 300px;
        max-height: 300px;
        padding-bottom: 1rem;
        border-radius: 10px 10px 0 0;
    }
    .likes, .release-date, .description, .duets, .duration, .lg{
        font-size: 1.5rem;
    }
  
    .about > p {
        font-size: 1.25rem;
    }
  
    .about > p:nth-child(3), .about > p:nth-child(5){
        font-size: 16px;
    }
   
    footer .row {
        height: 125px;
    }
 }
  
 audio {
    display: flex;
    width: 70%;
 }
 