* {
   box-sizing: border-box;
 }
  
 body, html {
   font-family: 'Roboto Slab', sans-serif;
   margin: 0;
   width: 100%;
   height: 100%;
   padding: 0;
 }
  
 body, .card-body {
   padding-bottom: 3rem;
 }
  main {
   display: flex;
   padding: 2rem;
   background-color: slategray;
 }
  
 .row {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 0.5rem;
   align-items: flex-start;
   flex-direction: column;
 }
  
 .row, .card:nth-child(1) {
   width: 2px 80px;
   border: 0 solid silver;
   border-radius: 5px;
   padding: 5px;
   margin: 5px;
 }
  
 .row .card {
   width: 2px 80px;
   border: 0 solid silver;
   border-radius: 5px;
   padding: 5px;
   margin: 5px;
   text-align: center;
   float: left;
   height: calc(100vh / 1.9);
 }
  
 .col {
   display: flex;
   flex-grow: 1;
   padding-bottom: 2rem;
   flex-direction: column;
 }
 
/* navbar and footer styling */
a.navbar-brand {
   padding-left: 2rem;
   color:white;
   font-size: 1.75rem;
   position: relative;
   top: 1.5rem;
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.navbar-dark a.navbar-brand, .navbar-dark .navbar-nav a.nav-link {
   color: white;
}

.navbar .container-fluid {
   text-align: center;
}

footer, .card.browse-card, .main-browse, .container-fluid.footer{
   background-color: black;
}

footer p, footer p a, .col, .duet_from{
   color: white;
   text-decoration: none;
}

.material-icons{
   display: none;
}

.container {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   text-align: center;
   display: flex;
   flex-direction: column;
 } 

.container-fluid {
   padding-left: 0;
   padding-right: 0;
}

/* main body styling */
#music {
   font-family: "Lucida Console", "Courier New", monospace;
   font-size: 1.5rem;
   font-weight: 400;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   color: var(--clr-neon);
   border: currentColor 0.125em solid;
   border-left: 4rem;
   border-right: 4rem;
   border-radius: 0.25em;
   text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

#music:hover, #music:focus {
   color: var(--clr-bg);
   text-shadow: none;
 } 

 .div, .card {
   display: flex;
   justify-content: space-evenly;
   padding-top: 20px;
   flex: 1;
   margin: 2px 30px;
   background: white;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0, 4);
 }

 .card-body {
   justify-content: center;
   flex-flow: row wrap;
   height: 200px;
   width: 200px;
 } 
 
#card-row {
   padding-top: 0rem;
   padding-bottom: 0rem;
}

#card-row.row {
   display: flex;
   justify-content: center;
 } 

.card-title {
   font-size: 1.25rem;
   font-style: bold;
}
 
/* music page styling */
a {
   text-decoration: none;
}

.card-title, .card-text {
   color: black;
}

.about {
   display: flex;
   color: white;
   flex-direction: column;
   align-items: center;
}

.about h1, .about > p {
   text-align: center;
   padding-top: 2rem;
}

.about > p:nth-child(2) {
   font-style: italic;
}

.about > p:nth-child(3), .about > p:nth-child(5) {
   padding: none;
   margin: none;
   font-size: 12px;
   font-style: italic;
}

.list{
   flex-direction: row;
}
.list.col {
    padding-top: 2rem;
    padding-bottom: 0;
}
.progress{
   width: 100%;
}
.progress-div{
   padding-top: 4%;
}

.duration{
   padding-top: 0;
}
.browse-card button.play, .browse-card button.pause, .browse-card .duration{
   color: black;
}
.play-pause-div{
   text-align: end;
   padding-right: 0;
   padding-top: 1.5%;
}

button.play:hover, button.pause:hover {
   color: lightgray;
   cursor: pointer;
   padding-left: 0;
}

button.likes{
   padding-left: .0rem;
}

/* Browse Component */
.img-list{
   height: 100px;
   width: 100px;
   border-radius: 10%;
   border: 1px solid rgb(54, 54, 54);
}

.img-list:hover {
   transform: scale(1.025);
 }
 
.browse-info, a.link{
   color: black;
   text-decoration: none;
}
div.browse-img-div{
   justify-content: center;
   text-align: center;
   margin: auto;
}
.browse-title{
   font-size: 25px;
   margin-top: 2%;
   margin-bottom: 0;
}
.browse-artist{
   font-style: italic;
   font-weight: 300;
   font-size: 20px;
   margin: 0;
}
.browse-release{
   font-weight: 200;
   font-size: 15px;
   margin: 0;
}
.browse-desc{
   font-weight: 100;
   font-size: 13px;
   margin: 0;
}
.sort-by, .col-3{
   text-align: right;
}
.browse-desc{
   display: none;
}
.main-browse .audio-control, .home .audio-control{
   display: flex;
}
form{
   padding: .5rem;
}

/* Screen sizes for 768px and above */
@media(min-width: 768px) {
   /* navbar and footer styling - big screen */
   .card-body {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
   }

   .card-title {
      justify-content: center;
      font-size: 1.25rem;
      font-style: bold;
   } 

   .card-text {
      padding-bottom: 3rem;
   }
 
   header, footer, .container-fluid.footer{
      background-color: #FAF9F6;
   }

   .navbar-brand, .nav-link {
      top: 0;
      color: black;
   }

   footer p, footer p a{
      color: black;
      text-decoration: none;
   }
   form, audio {
      width: 100%;
   }

   .navbar-nav {
      margin-left: auto;
   }

   .nav-item, img:hover {
      transition: 200ms transform ease-in-out;
      transform: scale(1.05);
   }
 
   .material-icons {
      position: relative;
      top: 5px;
      right: 8px;
      padding-left: .4rem;
      font-size: 3rem;
   }

   /* music page styling - big screen */
   .card-img-top {
      display: flex;
      max-width: 300px;
      max-height: 300px;
      padding-bottom: 1rem;
      border-radius: 10px 10px 0 0;
   }
 
   .release-date, .description, .duets, .lg, .duet-from, .duet-from-link{
      color: white;
      font-size: 1.5rem;
   }
   button.pause, button.play{
      padding-left: 0;
   }
   .about > p {
      font-size: 1.25rem;
   }

   .about > p:nth-child(3), .about > p:nth-child(5){
      font-size: 16px;
   }

   footer .row {
      height: 125px;
   }
   .col.music-detail-page{
      flex-direction: row;
   }
   button.play, button.pause{
      font-size: 5vw;
      padding-top: .2rem;
   }
   .progress-div{
      margin-right: 0;
      padding-top: 5%;
      margin-left: 2rem;
   }
   button.likes{
      padding-left: .0rem;
   }
   .music-detail-img, .img-size{
      height: 40%;
      width: 40%;
   }
   
   /* Big display: Browse.js */
   .img-list{
      width: 100%;
      height: 100%;
      border-radius: 5%;
      border: 2px solid black;
      margin-top: 1rem;
   }
   .list{
      display: flex;
      align-items: center;
      flex-direction: column;
   }
   .main-browse, .align-items-center, .card.browse-card{
      background-color: white;

   }
   .main-browse{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }
   .card.browse-card{
      flex-direction: column;
   }
   .card.browse-card{
      height: 20rem;
   }
   .link{
      text-decoration: none;
   }
   .col-3.sort-by, .col-2.sort-button{
      width: 15%;
      text-align: center;
   }
   .col-6.sort-input{
      width: 20%
   }
   .browse-card{
      display: inline;
   }
   .browse-info .text-light{
      color: black !important;
      margin: auto;
   }

   .col-8.browse-info{
      width: 90%;
      padding-top: 10%;
      text-align: center;
   }
   .browse-title{
      font-size: 2.5vw;
   }
   .browse-artist{
      font-size: 2vw;
   }
   .browse-release, .browse-desc, .sort-by{
      font-size: 1.5vw;
   }
   .text-light{
      margin-left: 0;
      word-wrap: break-word;
   }
   .row.med-row{
      flex-wrap: wrap;
      padding-left: 15%;
   }
   .browse-img-div{
      height: 10rem;
      width: 10rem;
   }
   .align-items-center{
      padding-left: 15%;
   }


}
@media(min-width: 992px) {
   .list.col{
      flex-direction: row;
      padding-bottom: 0;
      margin-left: 0;
      padding-top: 2%;
   }

   .img-list{
      width: 80%;
      margin: 0;
   }
   .browse-img-div{
      margin: auto;
      height: 80%;
      width: 80%;
   }
   .main-browse{
      padding-right: 10%;
      padding-left: 10%;
   }
   .col-8.browse-info{
      width: 72%;
      text-align: left;
      padding-top: 0;
   }

   .card.browse-card{
      width: 80%;
      height: 35%;
   }
   .browse-desc{
      display: inline;
   }
   .main-browse .audio-control, .home .audio-control{
      display: flex;
   }
   button.play, button.pause, button.likes{
      font-size: 3vw;
      
   }
   .progress-div{
      padding-top: 4%;
      margin-left: 0;
   }
}